<div *ngIf="formMsg && class" class="{{ class }} mb-sm-2">
  <p>{{ formMsg }}</p>
</div>
<mk-box [isRemovable]="false" [isCollapsable]="false">
  <mk-box-header class="text-capitalize"> Users</mk-box-header>
 <!-- <mk-box-tools><a class="btn btn-primary pull-right" [routerLink]="['/cities/create']">Create
    City </a></mk-box-tools>-->
  <mk-box-content>

    <p-table
      #dt
      [value]="usersTable.records"
      [paginator]="true"
      [lazy]="false"
      [rows]="usersTable.limit"
      [totalRecords]="usersTable.totalRecords"
      sortField="id"
      [sortOrder]="-1"
      [resizableColumns]="true"
      [rowsPerPageOptions]="usersTable.paginationList">
      <ng-template pTemplate="header">
        <tr>
          <th pResizableColumn class="fit-width">
            Id
            <p-sortIcon [field]="'id'" [pSortableColumn]="'id'"></p-sortIcon>
          </th>
          <th pResizableColumn>email</th>
          <th pResizableColumn>username</th>
          <th pResizableColumn>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td class="ui-resizable-column">{{ user.id }}</td>
          <td>{{user.email}}</td>
          <td>{{user.username}}</td>
          <td class="ui-resizable-column">

            <a *ngIf="assignBtn" class="btn btn-primary" (click)="assignRestaurant(user.id)">
              Assign
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </mk-box-content>
</mk-box>
