<mk-layout-wrapper>

  <mk-layout-header [isSidebarLeftToggle]="true" [isSidebarRightToggle]="false" [logoLink]="['/', 'boxs', 'info-box']">
    <mk-layout-header-logo><b>Admin</b>LTE</mk-layout-header-logo>
    <mk-layout-header-logo-mini><b>A</b>LT</mk-layout-header-logo-mini>

    <div class="navbar navbar-static-top pull-right">
      <a class="btn btn-primary logoutBtn" (click)="logout($event)">Logout</a></div>
  </mk-layout-header>

  <mk-layout-sidebar-left>
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/avatar.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{user.username}}</p>
      </div>
    </div>

  </mk-layout-sidebar-left>

  <mk-layout-content>
    <router-outlet></router-outlet>
  </mk-layout-content>
  <mk-layout-footer>
    <mk-layout-footer-left>
      Footer left HTML
    </mk-layout-footer-left>
    <mk-layout-footer-right>
      Footer right HTML
    </mk-layout-footer-right>
  </mk-layout-footer>
</mk-layout-wrapper>
