.navbar {
  position: relative;
  display: block;
  flex-wrap: unset;
  align-items: center;
  justify-content: space-between;
  padding: unset;
}
.main-header .sidebar-toggle {
  padding: 13px 15px;
}
.img-circle {
  border-radius: 50%;
}

